<html>

<body>
    <h1 id="status">Connection status: not connected</h1>
    <h1 id="identify"></h1>
    
    <div class="msginput">
        <input type="text" id="msgtext" placeholder="Type something here" autofocus="true">
        <button id="msgsend">Send</button>
    </div>
    
    <div class="msgs"></div>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/socket.js"></script>
</body>

</html>